.card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h2{
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}